
.navbar-default{
	background-color:#fff;
	border-color:#fff;
}
.navbar{
	margin-bottom:0;
	margin-right:50px;
}
.container{
	min-height:70px;
}

.logo{
    padding-left:60px;
}

.panel-default{
	border-color:#1D751F;
}

.panel{
	border:2px solid;
	border-radius:0;
	margin-left:60px;
	margin-right:60px;
}

.panel-body{
	height:375px;
	padding:0;
}

.col-md-2{
	padding:0;
	min-height:375px;
	background-color:rgba(239, 48, 198, 0.97);
}
.conspt{
	background-color:orange;
	height:50px;
	width:120px;
	margin-top: 20px;
    margin-left: 15px;
}

.energy{
	height:100px;
	width:120px;
	margin-top: 60px;
    margin-left: 15px;
	background-color:orange;
}

.col-md-8{
	padding:0;
}

.medcol{
	margin-top:55px;
}

.btn-panel{
	margin-left:60px;
}

.medcol .panel-body{
	height:250px;
}
